body{
    background-color: white;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}
header {
  height: 8vh;
  background-color: #011324;
  position: absolute;
}
footer {
  width: 100%;
  bottom: 0;
  background-color: #011324;
  position: fixed;
  height: 6vh;
}

.nav{
    margin-left: 5%;
    padding-right: 5%;
    position: relative;
}

.nav-item {
  color: white;
  margin-right: 20px;
  padding-right: 5px;
  padding-top: 25px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}
.nav-item:hover {
  border-bottom: 2px solid rgb(33, 142, 245);
   
}
.navbar-brand{
    color: white;
    font-style: italic;
    font-size: 40px;
    font-weight: 600;
    position:fixed;
    padding-top: 10px;
    margin-right: 5%;
    padding-left: 5%;
}
.list li {
  font-size: 14px;
  font-weight: 400;
  color: #011324;
}
.h5 {
  color: #011324;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
}
h4{
  color: #011324;
  font-size: 22px;
}
.experience h3{
    padding-bottom: 10px;
    font-size: 35px;
    color: #011324;
    padding-left: 6rem;
}
.experience {
    justify-content: left;
    margin-left: 150px;
    width: 600px;
    padding-top: 10rem;
}
#profile-pic{
width: 600px;
height: 600px;
display: flex;
margin: 0;
padding: 0;
}
.container-fluid{
display: flex;
justify-content: center;
}
.aboutme-p{
  background-color: transparent;
  width: 450px;
  height: auto;
  border-radius: 30px;
  padding-top: 4%;
  padding-left: 3%;
  margin-left: 10%;
  font-size: 17px;
  color: black;
  font-weight: 500;
  text-align: center;
  }
.cover-letter{
background-color: transparent;
position: left;
padding-bottom: 15px;
font-weight: 400;

}
.head-whole{
position: sticky;
top: 0;
}
.bi-linkedin{
  color: white;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  &:hover {
    color: rgb(11, 136, 252);
  }
  

}
.bi-facebook{
  color: white;
  font-size: 30px;
  &:hover {
    color: rgb(11, 136, 252);
  }
  
  
}
#f-logo-cont{
  display: flex;
justify-content: center;
padding-top: 0.5rem;
}
.bi-github{
  color: white;
  font-size: 30px;
  &:hover {
    color: rgb(11, 136, 252);
  }
  
}

.nav-item a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.tag {
  position: absolute;
  float: right;
  left: 18rem;
  top: 41rem;
  padding: 5px;
  font-weight: bold;
  display: flex;
  width: 30rem;
  height: 3rem;
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 35%);
}
summary{
  color: black;
  background: #011324;
  background-color: white;
  font-size: 22px;
  margin-bottom: 1em;
  outline: #011324;
  border-radius: .3em;
  font-weight: bold;
  transition: background-color .3s;
  display: flex;

  &:hover {
    color: rgb(11, 136, 252);
  }
}
  summary::before {
    margin-left: 1ch;
    display: inline-block;
    content: url(expand_more_FILL0_wght400_GRAD0_opsz24.svg);
    transition: 0.2s;
  }
  details[open] > summary::before {
    transform: rotate(180deg);
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  from {
    opacity: 0; margin-top: -10px;
  }
  to {
    opacity: 1; margin-top: 0;
  }
}
.footer-no-hide-content-plz{
height: 9vh;
}
@media only screen and (max-width: 375px){
.body{
width: 80%;  
}
col.li{
  font-size: 6px;
}
li + li {
  margin-top: 10px;
}
#profile-pic {
 width: auto;
 height: 200px;
 display: flex;
 padding-left: 33px;
 margin-right: 0;
}
.nav-item {
  justify-content: right;
  justify-items: flex-end;
  justify-content: space-evenly;
  font-size: 0.5rem;
  margin-right:0;
}
.navbar-brand{
 font-size: 0.8rem;
 padding-top: 1.2rem;
 margin-right: 0;
}
footer {
  width: 100vw;
  bottom: 0;
  position: fixed;
  height: 6vh;
}
#f-logo-cont{
  display: flex;
justify-content: center;
padding-top: 0;
}
header {
  width: 100vw;
  position: absolute;
}
.experience h3{
font-size: 12px;
margin-left: 4rem;
margin-bottom: 1rem;
width: 80%;
padding: 0;
}
.experience{
margin-left: 1.5rem;
padding: 0;
width: 80%;
text-wrap: wrap;
overflow-wrap: break-word;
}
details.li{
font-size: 6px;
}
details{
font-size: 10px;
padding-left: 20px;
margin-right: 0;
}
details h5{
  font-size: 8px;
  margin-left: 2rem;
  padding-top: 0.5rem;
}
summary{
 font-size: 10px; 
 margin:0;
 padding: 0;
 width: 80%;
 height: auto;
}
.row{
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.aboutme-p{
  margin-right:0;
  padding-right: 0;
  width: 80%;
  margin: 0;
  padding: 0;
}
.tag{
  margin: 0;
  position: absolute;
  float: left;
  left: 6.4rem;
  top: 15rem;
  padding: 0px;
  font-weight: bold;
  display: flex;
  width: 9.5rem;
  height: 0.8rem;
  padding: 0;
  display: none;
}
.my-picture.col{
 width: 80%;
height: auto;
}
.cover-letter{
  width: 80%;
  overflow-wrap: break-word;
  font-size: 8px;
  padding-top: 0.8rem;
  margin-left: 4rem;
  font-weight: 500;
}
.row{
  width: 80%;
}
.cover-letter{
width: 80%;
overflow-wrap: break-word;
font-size: 8px;
}
h3{
  width: 80%;
}
.container-fluid{
padding: 0;
margin: 0;
}
}
@media only screen and (max-width: 390px){
.body{
  width: 80%;  
  }
  col.li{
    font-size: 6px;
  }
  li + li {
    margin-top: 10px;
  }
  #profile-pic {
   width: auto;
   height: 200px;
   display: flex;
   padding-left: 33px;
   margin-right: 0;
  }
  .nav-item {
    justify-content: right;
    justify-items: flex-end;
    justify-content: space-evenly;
    font-size: 0.5rem;
    margin-right:0;
  }
  .navbar-brand{
   font-size: 0.8rem;
   padding-top: 1.2rem;
   margin-right: 0;
  }
  footer {
    width: 100vw;
    bottom: 0;
    position: fixed;
    height: 6vh;
  }
  #f-logo-cont{
    display: flex;
  justify-content: center;
  padding-top: 0;
  }
  header {
    width: 100vw;
    position: absolute;
  }
  .experience h3{
  font-size: 12px;
  margin-left: 4rem;
  margin-bottom: 1rem;
  width: 80%;
  padding: 0;
  }
  .experience{
  margin-left: 1.5rem;
  padding: 0;
  width: 80%;
  text-wrap: wrap;
  overflow-wrap: break-word;
  }
  details.li{
  font-size: 6px;
  }
  details{
  font-size: 10px;
  padding-left: 20px;
  margin-right: 0;
  }
  details h5{
    font-size: 8px;
    margin-left: 2rem;
    padding-top: 0.5rem;
  }
  summary{
   font-size: 10px; 
   margin:0;
   padding: 0;
   width: 80%;
   height: auto;
  }
  .row{
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .aboutme-p{
    margin-right:0;
    padding-right: 0;
    width: 80%;
    margin: 0;
    padding: 0;
  }
  .tag{
    margin: 0;
    position: absolute;
    float: left;
    left: 6.4rem;
    top: 15rem;
    padding: 0px;
    font-weight: bold;
    display: flex;
    width: 9.5rem;
    height: 0.8rem;
    padding: 0;
    display: none;
  }
  .my-picture.col{
   width: 80%;
  height: auto;
  }
  .cover-letter{
    width: 80%;
    overflow-wrap: break-word;
    font-size: 8px;
    padding-top: 0.8rem;
    margin-left: 4rem;
    font-weight: 500;
  }
  .row{
    width: 80%;
  }
  .cover-letter{
  width: 80%;
  overflow-wrap: break-word;
  font-size: 8px;
  }
  h3{
    width: 80%;
  }
  .container-fluid{
  padding: 0;
  margin: 0;
  }
}